*{
  /* color: black; */
}
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('https://images.unsplash.com/photo-1474540412665-1cdae210ae6b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1662&q=80');
height: 100%;
/* background-position: center; */
background-repeat: no-repeat;
background-size: auto;
font-family: 'Numans', sans-serif;
}

h5{
  color: white !important;
}

.card-text{
  color: white !important;
}
.container{
height: 100%;
align-content: center;
}
.pt-5{
  background-color: rgba(0,0,0,0.65) !important;
  color: white;
  width: 350px;
  height: 400px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.post_color{
  color: white !important;
}
.card{
height: 600px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.65) !important;
}

.logo{
  margin-left: 280px;
  position: absolute;
  top: -15px;
}
.social_icon span{
font-size: 60px;
margin-left: 5px;
color: #FFC312;
}
.social_icon span:hover{
color: white;
cursor: pointer;
}
.card-header h3{
color: white;
margin-top: 8px;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}
.input-group-prepend span{
width: 40px;
background-color: #B0E0E6;
color: black;
border:0 !important;
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;
}
.remember{
color: white;
}
.remember input
{
width: 20px;
height: 20px;
margin-left: 30px;
margin-right: 5px;
margin-top: -5px;
}

.login_btn{
color: black;
/* background-color: #FFE4E1; */
width: 100px;
margin-top: 15px;
margin-left: 255px;
}
.login_btn:hover{
color: black;
background-color: white;
}
.links{
color: white;
}
.links a{
margin-left: 4px;
}

.text-muted {
  color: white !important;
}

.nav-link{
  color: black !important;
}
