{% extends "users/base.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
    <div class="container pt-5">
    <h2 style="text-align: center">Create a new post</h2>
    <div class="container d-flex justify-content-center">
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Post Title</label>
                <input type="text" name="post_title" class="form-control" id="post_title" required>
            </div>
            <div class="form-group">
                <label for="post_content">Say something</label>
                <textarea name="post_content" class="form-control" id="memo" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

<div class="row d-flex justify-content-center" >
{% for x in posts %}
  <div class="col-sm-5" style="margin: 10px">

    <div class="card h-100">

      <div class="card-body" id="{{ x.id }}">
        <h5 class="card-title">{{ x.post_title }}</h5>
        <p class="card-text">{{ x.post_content }}</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Post by: {{ x.user }}</li>
                <li class="list-group-item">Posted on: {{ x.post_created|date:'M j Y H:i' }}</li>
            </ul>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% else %}

<div class="jumbotron" style="margin: 10px">
  <h1 class="display-4">You need to be logged in to view this page</h1>
  <p class="lead">Welcome to AceBook, created by Aaron, Anne and Natasha. Please create a new account by clicking the sign up button or signing in if you have an account already</p>
  <hr class="my-4">
  <p>Once logged in you will be able to see the latest posts</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
  </p>
</div>

    <h1></h1>
    {% endif %}
{% endblock %}