{% extends "users/base.html" %}

{% block content %}
{% load static %}
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="logo">
				<img width=100 src='{% static "images/PyJam.png" %}' >
			</div>
			<div class="card-header">
            <h3>Sign Up</h3>
            <div class="d-flex justify-content-end social_icon">
        </div>
    </div>
    <div class="card-body">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-address-book"></i></span>
                    </div>
                    <input type="firstname" class="form-control" placeholder="First Name" name="first_name">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="far fa-address-book"></i></span>
                    </div>
                    <input type="lastname" class="form-control" placeholder="Last Name" name="last_name">
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope-open"></i></span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email" name="email">
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user-shield"></i></span>
                      </div>
                      <input type="username" class="form-control" placeholder="Username" name="username">
                    <!-- <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp"> -->
                    </div>
                    <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you know if someone has taken it already.</small>
                    <p> </p>
                    <div class="input-group form-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Password" name="password1">
                </div>
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Confirm Password" name="password2">
                </div>
                <div class="form-group">
                <input type="submit" value="Sign up" class="btn float-right login_btn">
                </div>
            </form>
            </div>
            <div class="card-footer">
      				<div class="d-flex justify-content-center links">
      					Already have an account?<a href='{% url "login" %}'>Sign In</a>
              </div>
        </div>
    </div>
    </div>
{% endblock %}
